body►{
 font-fomilly:arial,sons= serif
 margin:0;
 padding;0;

{background-color;  ;
header{
  background-color:#25aa78;
  color:white;
  text-align: center;
padding:1em;

nav{
	margin:20px ;
}
nav ul li{
	 display: inline;
	 margin-right: 20px;
	} margin-right: 20px;
nav ul{
	list-style-type: none;
	padding: 20 px;
	margin: 10 px;
}
footer{
	background-color: ;#25aa78;
	color:white;
	text-align: center;
	padding: 1em;
}
p{
	font-family: verdana;
	font size: 20px;
	text-align: justify;
	text-decoration: underline;
	text-transform:capitalize;
	background-color: grey;
	